{
	auto_https off
	servers {
		strict_sni_host insecure_off
	}
}

:443 {
	tls /etc/caddy/certs/server.pem /etc/caddy/certs/server.key {
		client_auth {
			mode require_and_verify
			trust_pool file {
				pem_file /etc/caddy/certs/ca.pem
			}
		}
	}

	reverse_proxy uplink:8000 {
		header_up X-SSL-Client-Subject-DN {http.request.tls.client.subject}
	}
}
